/*
=============== 
Random Joke
===============
*/
.container {
  width: 90vw;
  max-width: 60em;
  margin: 0 auto;
  margin-top: 10rem;
  text-align: center;
  display: grid;
  justify-items: center;
}

.chuck {
  display: block;
  margin-bottom: 2rem;
}

.content {
  margin-top: 2rem;
  color: var(--clr-grey-5);
  font-size: 1.5rem;
}

/* Animation */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.shake-img {
  animation: shake 0.25s;
  animation-iteration-count: infinite;
}
