/*
=============== 
Counter
===============
*/
.container {
  text-align: center;
  margin: 2rem 0;
  background: var(--clr-white);
  border-radius: var(--radius);
  width: 90vw;
  max-width: var(--fixed-width);
  padding: 1rem 0.5rem;
}

.first {
  margin-top: 5rem;
}

#value,
.value {
  font-size: 6rem;
  font-weight: bold;
}

.btn {
  padding: 0.25rem;
  margin: 0.25rem;
}
