/*
=============== 
Scroll
===============
*/
nav {
  background: var(--clr-white);
  padding: 1rem 1.5rem;
}

/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}

.fixed-nav .links2 a {
  color: var(--clr-grey-1);
}

.fixed-nav .links2 a:hover {
  color: var(--clr-secondary);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--clr-secondary);
}

.nav-logo {
  height: 50px;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.links2 a {
  background: var(--clr-white);
  color: var(--clr-grey-5);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
}

.links2 a span {
  color: #f7df1e;
}

.links2 a:hover {
  color: var(--clr-grey-1);
}

.btn-white {
  color: var(--clr-white);
  border-color: var(--clr-white);
  border-radius: 0;
  padding: 0.5rem 1rem;
}

.btn:hover {
  background: var(--clr-white);
  color: var(--clr-secondary);
}

@media screen and (min-width: 800px) {
  nav {
    background: transparent;
  }
  .nav-center2 {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links2 {
    display: flex;
  }
  .links2 a {
    background: transparent;
    color: var(--clr-white);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }
  .links2 a:hover {
    color: var(--clr-white);
  }
}

/* hero */
header {
  min-height: 100vh;
  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
    url(../../Media/scroll/hero-bcg.jpeg) center/cover no-repeat;
}

.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  margin-top: -82px;
}

.container h1 {
  color: var(--clr-white);
  text-transform: uppercase;
}

.container p {
  color: var(--clr-white);
  max-width: 95vw;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 768px) {
  .container p {
    max-width: 40rem;
  }
}

/* sections and title */
.title h2 {
  text-align: center;
  text-transform: uppercase;
}

.title span {
  color: var(--clr-secondary);
}

#about,
#services,
#tours {
  height: 80vh;
}

#services {
  background: var(--clr-white);
}

footer {
  display: grid;
  place-items: center;
  height: 20vh;
  background: var(--clr-grey-1);
}

footer p {
  max-width: 95vw;
  color: var(--clr-white);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin: 0 auto;
}
