/*
=============== 
Pagination
===============
*/
.section-title {
  text-align: center;
  margin-bottom: 3rem;
}

.underline {
  width: 8rem;
  height: 0.25rem;
  background: var(--clr-primary-5);
  margin: 0 auto 1rem auto;
}

.followers {
  width: 90vw;
  max-width: var(--max-width);
}

.container {
  display: grid;
  gap: 2rem;
  margin-bottom: 4rem;
}

.error {
  text-align: center;
}

@media screen and (min-width: 576px) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.card {
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  padding: 2rem 3.5rem;
  text-align: center;
}

.card img {
  width: 130px;
  height: 130px;
  align-self: center;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 0.75rem auto;
}

.card h4 {
  margin-bottom: 1.5rem;
  font-size: 0.85rem;
  color: var(--clr-grey-5);
}

.btn {
  padding: 0.35rem 0.75rem;
  letter-spacing: 1.6px;
  font-size: 0.75rem;
  color: var(--clr-white);
  background: var(--clr-primary-5);
  border-radius: var(--radius);
  border-color: transparent;
  text-transform: uppercase;
  transition: var(--transition);
  cursor: pointer;
}

.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.page-btn {
  width: 2rem;
  height: 2rem;
  background: var(--clr-primary-7);
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
  transition: var(--transition);
}

.active-btn {
  background: var(--clr-primary-1);
  color: var(--clr-white);
}

.prev-btn,
.next-btn {
  background: transparent;
  border-color: transparent;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (min-width: 775px) {
  .btn-container {
    margin: 0 auto;
    max-width: 700px;
  }
}
