/*
=============== 
Container
===============
*/
.container {
  text-align: center;
  margin: 0 0.5rem;
}

.container h2 {
  background: var(--clr-black);
  color: var(--clr-white);
  padding: 1rem;
  border-radius: var(--radius);
  margin-bottom: 2.5rem;
}

.color {
  color: var(--clr-primary-5);
}

.btn {
  font-weight: 700;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
}
